#root {
  width: 100vw;
  height: 100vh;
  background-color: #EAE8FF;
  color: #320C3A;
  overflow: hidden;
}

input[type="range"] {
  width: 20vw;
  color:#320C3A;
}

datalist {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

#page-name {
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: none;
}

.homepage, .homepage-content, .breeds-page, .display-page, .about-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-page {
  overflow-y: scroll;
  scrollbar-width: none;
}

.homepage-content {
  padding-top: 2em;
}

.homepage-buttons-container {
  display: flex;
}

.homepage-buttons {
  margin: 3em 2em;
  padding: 0.75em 3em;
  text-decoration: none;
}

.navbar {
  padding: 1em 2em;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.nav-link {
  padding: 0 1em;
  text-decoration: none;
  color: #320C3A;
}

.nav-link:hover {
  color: #957186;
  text-decoration: underline;
  font-size: large;
}

.site-link:hover {
  color:#957186;
}

.center-align {
  text-align: center;
}

.dog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.popout-text {
  color:#957186;
}

.input-label {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 3em;
}

.instruction-text {
  font-size: small;
}

.select-breeds-options {
  color:#320C3A;
  scrollbar-color: #320C3A whitesmoke;
  background-color: whitesmoke;
  min-width: 20vw;
  max-width: 40vw;
  max-height: 25vh;
}

.select-breeds__control {
  max-height: 25vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.select-breeds__multi-value {
  background-color: #957186;
  color:#320C3A;
}

.form-fetch-button, .back-button, .homepage-buttons {
  background-color: #F8A91F;
  color:#320C3A;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 5%;
  padding: 0.5em 1em;
  margin-top: 3em;
}

.form-fetch-button:hover, .back-button:hover, .homepage-buttons:hover {
  background-color: #320C3A;
  color:#F8A91F;
  box-shadow: 0px 0px 40px 20px #957186;
}

.back-button {
  margin-bottom: 5em;
}

.result-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.display-breed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-breed-name {
  margin-top: 1em;
}

.dog-image {
  min-width: 20vw;
  max-width: 30vw;
  min-height: 20vh;
  max-height: 40vh;
  border-radius: 8%;
  padding: 1em;
}

.dog-image:hover {
  padding: 0em;
  margin: 1em;
  box-shadow: 0px 0px 40px 20px #EAE8FF;
}

.about-intro {
  text-align: center;
  font-weight: 500;
}

.about-image {
  max-width: 50vw;
  max-height: 40vh;
  border-radius: 5%;
}